body {
  margin: 0;
  padding: 0;
  background: #000;
}
.logo-navbar {
  max-width: 150px;
}
h1 {
  font-size: 75px;
  color: #e4f2ff;
  text-transform: uppercase;
}
.remarcador {
  color: #add2ff;
}
h3 {
  color: #e4f2ff;
}
a svg {
  width: 45px;
  height: 45px;
  color: #add2ff;
}

.morado {
  background-color: #9300ff;
}
.img-left {
}
.parrafos {
  color: #fff;
  font-size: 2rem;
}
.listFooter li a {
  color: #fff !important;
}
